<section id="comments">
    <h1>Comments</h1>
    {% for comment in comments %}
        <article class="clearfix" key="{{ comment.key }}">
            <aside>
                <!--<img src="{{ comment.gravatar }}" alt="avatar"/>-->
                <a name="{{ comment.key.id }}"></a>
                <small>
                    <span class="point">
                    {% if comment.site %}
                        <a href="{{ comment.site }}">
                            {{ comment.nickname }}
                        </a>
                    {% else %}
                        {{ comment.nickname }}
                    {% endif %}
                    </span>
                    On 
                    <time class="point">{{ comment.date|date:"Y-m-d P" }}</time>
                </small>
            </aside>
            <div class="content">
                {{ comment.content }}
            </div>
            {% if comment.response %}
            <div class="response">
                <form action="/admin/comment/reply" method="post" style="display:none">
                    <input name="key" type="hidden" value="{{ comment.key }}" />
                    <p>@rulen:</p>
                    <textarea name="response"></textarea>
                    <input class="btn" type="submit" value="submit" />
                </form>
                <article>
                    <p>@{{ comment.nickname }}:</p>
                    <div class="content">
                        {{ comment.response }}
                    </div>
                </article>
            </div>
            {% endif %}

            <footer>
                {% if comment.response %}
                <time>@{{ comment.response_date|date:"Y-m-d P" }} </time>
                {% endif %}
                {% if admin %}
                    {% if comment.response %}
                    <a href="javascript:void(0)">Edit</a>
                    {% else %}
                    <a href="javascript:void(0)">Reply</a>
                    {% endif %}
                     | <a href="javascript:void(0)" class="delete">Delete</a>
                 {% endif %}
            </footer>
        </article>
    {% endfor %}
    <article>
        <aside>
            <small>
                <span class="point">You</span> On 
                <time class="point" id="formatted-now">now</time>
            </small>
        </aside>
        <form id="comment-form" action="/comment" method="post">
            <input type="hidden" value="{{ post.key }}" name="key"/>
            <label for="nickname">nickname:</label>
            <input type="text" size="30" id="nickname" name="nickname"/>
            <label for="email">email:</label>
            <input id="email" type="email" size="30" name="email"/>
            <label for="site">website:</label>
            <input type="url" size="45" placeholder="http://" id="site" name="site"/>
            <label for="content">content:</label>
            <textarea id="content" name="content" required></textarea>
            <input class="btn" type="submit" value="Submit"/>
        </form>
    </article>
</section>
