{% extends 'base.html' %}

{% block head %}
<link media="all" rel="stylesheet" href="/static/default/css/article.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/default/js/date.format.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    {% if admin %}
    $('#comments footer a.delete').click(function() {
        var $dl = $(this).parents('article').addClass('notice');
        if (!confirm('Are you sure to delete the comment?')) {
            $dl.removeClass('notice');
            return false;
        }
        $.post('/admin/comment/delete', {key: $dl.attr('key')}, function(data) {
            if (data === 'ok') {
                $dl.fadeOut(1000, function() {
                    $dl.remove();
                });
            }
            else
                alert(data);
        });
    });
    {% endif %}

    function format_now() {
        var now = new Date(),
            format_time = now.format('yyyy-mm-dd h:MM tt');
        $('#formatted-now').html(format_time);
    }
    format_now();
    setInterval(format_now, 60000);
        
});
</script>
{% endblock %}

{% block main %}
    {% include 'assets/post.html' %}
    {% include 'assets/comments.html' %}
{% endblock %}
